.font{
  font-family: sans-serif;
  font-size: 55px; 
}
body{
    background-color: black;
}
h1{
    margin:0px;
    padding: 0px;
}
.clock{
    color:#6a0ac4cb;
    border: 5px groove;
    border-color:#6a0ac4cb;
    padding: 80px 90px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    display:inline-blocks;

}
#hours{
    color:green;
}
#minutes{
    color: yellow;
}
#seconds{color:red}
#about{
font-size: 20px;
text-align:center;
vertical-align:bottom;
display: table-cell;
height: 100px;
  width: 100px;
}
  
